<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <title>ParkHeroes</title>

    <link
            rel="canonical"
            href="https://getbootstrap.com/docs/4.5/examples/album/"
    />

    <!-- Bootstrap core CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
    />

    <link href="css/album.css" rel="stylesheet"/>
</head>
<body>
<%- include('common/header'); -%>
<div class="container">

    <% if (errors) { %>
        <div class="row justify-content-md-center">
            <div class="alert alert-danger" role="alert">
                <%= errors %>
            </div>
        </div>
    <% } %>

    <h1 class="text-center">Update Park 🌳</h1>
    <div class="row justify-content-md-center">
        <div class="col-">
            <form method="POST">
                <div class="form-group">
                    <label for="name">Park Name</label>
                    <input
                            value="<%= parks.name %>"
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="Enter Name"
                    />


                </div>

                <div class="form-group">
                    <label for="postcode">Park Post Code</label>
                    <input
                            value="<%= parks.postcode %>"
                            type="text"
                            class="form-control"
                            id="postcode"
                            name="postcode"
                    />
                </div>

                <div class="form-group">
                    <label for="date">Meeting Date</label>
                    <input
                            value="<%= moment(parks.date).format("YYYY-MM-DD") %>"
                            type="date"
                            class="form-control"
                            id="date"
                            name="date"
                            placeholder="Enter Date"
                    />


                </div>

                <div class="form-group">
                    <label for="time">Meeting Time</label>
                    <input
                            value="<%= parks.time %>"
                            type="time"
                            class="form-control"
                            id="time"
                            name="time"
                            placeholder="Enter Name"
                    />


                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<%- include('common/footer'); -%>
</body>
</html>